{
  "targetBaseline": "widely",
  "scanFiles": "src/**/*.{js,jsx,ts,tsx,css}",
  "failOnNewly": true,
  "dryRun": false,
  "browsers": "default",
  "reportName": "baseline-report.html",
  "jsonReportName": "baseline-report.json",  
  "reportDir": "reports/baseline",
  "jsWhitelist": ["dirname","has"]
}